/* Add CSS Styling */
.odd-number {
  background-color: rgb(255, 166, 181);
  font-family: 'Verdana','DejaVu Sans', sans-serif;
}

#second-element {
  color: rgb(6, 6, 219);
  font-size: 36px;
}

.third-element {
  font-size: 24px;
}

#fourth-element {
  background-color: rgb(175, 253, 175);
  font-size: 24px;
  font-weight: bold;
}